{% extends "base.html.twig" %}
{% block body %}
{{ parent() }}
<section class="col-md-10 col-sm-12 section_index">
    <div id="texte_index">
        <h1 id="titre_index" class="text-center">Christelle & Liam's Wedding<br />
        Le mariage de Christelle et Liam</h1>
        <p class="text-justify description_index">Bienvenue sur le site du mariage de Christelle et Liam. Vous trouverez ici toutes
            les informations relatives au mariage, au déroulement des activités, aux hébergements, et bien plus encore.</p>
        <p class="text-justify description_index">Welcome to Christelle and Liam's Wedding website. You can find here all the
            information about the wedding, the timetable, where to stay, and much more.</p>
    </div>
</section>
{% endblock %}