{% extends "base.html.twig" %}
{% block body %}
    {{ parent() }}
    <section class="col-md-10 col-sm-12">
        <div class="titre_section">
            <h1 class="text-center">Hébergement / Where to stay</h1>
        </div>
        <div id="section_hebergement" class="sections">
{% endblock %}